@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap");

body {
  margin: 0;
  font-family: "Noto Serif TC", "Segoe UI", sans-serif;
  background: linear-gradient(190deg, #eaeaea 30%, #7f00ff 83%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
